include icons

mixin logo-button(name)
  a(href="/" class="flex items-center md:mr-12")
    img(src="images/logo.png", class="mr-2 h-8")
    span(class="self-center text-xl font-bold whitespace-nowrap dark:text-white")= name

mixin menu-button()
  button(id="menu-button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600")
      +svg-burger-menu(fill="currentColor", width="24", height="24")

mixin nav-button(name, { link, target } )
  a(
  href=link
  target=target
  class="block py-1.5 px-4 my-1 text-white bg-[#1e293b] hover:bg-[#64748b] dark:text-black dark:bg-[#fafaf9] dark:hover:bg-[#e7e5e4] rounded hover:cursor-pointer"
  )= name

mixin theme-button()
  button(
  id="theme-button"
  class="flex justify-between py-1.5 px-4 md:p-1 md:items-center md:justify-center md:w-10 md:h-10 md:rounded-full text-white bg-[#1e293b] hover:bg-[#64748b] dark:text-black dark:bg-[#fafaf9] dark:hover:bg-[#e7e5e4] rounded"
  )
    span(class="md:hidden") Change theme
    +svg-theme(width="24", height="24")