link(
rel="shortcut icon"
href="public/favicon/favicon.ico"
)

link(
rel="icon"
type="image/png"
sizes="16x16"
href="images/favicon/favicon-16x16.png"
)

link(
rel="icon"
type="image/png"
sizes="32x32"
href="images/favicon/favicon-32x32.png"
)

link(
rel="apple-touch-icon"
type="image/png"
sizes="180x180"
href="images/favicon/apple-touch-icon.png"
)

link(rel="manifest" href="images/favicon/site.webmanifest")

link(rel="stylesheet" href="css/style.css")

link(rel="stylesheet" href="css/main.css")