meta(property="og:type" content="website")
meta(property="og:title" content="Instagram videos downloder")
meta(property="og:image" content="images/logo.png")
meta(property="twitter:image" content="images/logo.png")
meta(property="twitter:title" content="Instagram videos downloder")

meta(
property="og:url"
content="https://insta-vids-downloder.riadazzoun.repl.co"
)

meta(
property="twitter:url"
content="https://insta-vids-downloder.riadazzoun.repl.co/"
)

meta(
name="description"
content="Download instagram videos very easly with one simple click"
)

meta(
property="og:description"
content="Download instagram videos very easly with one simple click"
)

meta(
property="twitter:description"
content="Download instagram videos very easly with one simple click"
)

meta(
name="keywords"
content="instagram, videos, download, reels, videos, insta, downloder"
)