span(id="error-message" class="block px-1 mb-2 text-sm text-red-500") Invalid Instagram ID post
form(id="download-form" method="get" action="" class="flex justify-between gap-4 mx-auto")
  input(
  id="url-input"
  type="text"
  class="block w-full px-4 py-2 text-gray-900 border border-gray-300 rounded bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  placeholder="e.g. www.instagram.com/p/CGh4a0iASGS"
  maxlength="255"
  required
  )
  button(
  id="download-button"
  class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
  )
    svg(class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
      <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
    span Download